<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="robusser">
		<origin xyz="2.4 1.7 0" />
		<model dir="./resources" path="robusser_robot.urdf" name="robusser" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="1.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-2.0 0 1" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="-0.3 5 5" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="-0.3 0.0 0.5" />
	</camera>

	<static_object name="big_frame">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/big_frame/big_frame.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="cabinets">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/cabinets/cabinets.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="-3.1351 -0.3 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="0.70336 5.0824 0.57348" />
			</geometry>
	    </collision>
		<collision>
	        <origin xyz="-0.343245 -2.28172 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="4.8064 0.80524 0.57348" />
			</geometry>
	    </collision>
	</static_object>

	<static_object name="charger">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/charger/charger.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="dishwasher1">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher1/dishwasher1.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="dishwasher2">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher2/dishwasher2.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher3">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher3/dishwasher3.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher4">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher4/dishwasher4.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher5">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher5/dishwasher5.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher6">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher6/dishwasher6.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher7">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher7/dishwasher7.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher8">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher8/dishwasher8.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher9">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher9/dishwasher9.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher10">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher10/dishwasher10.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher11">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher11/dishwasher11.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher12">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher12/dishwasher12.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher13">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher13/dishwasher13.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="dishwasher14">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher14/dishwasher14.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="high_wall">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/high_wall/high_wall.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	<static_object name="floor_one">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/floor_one/floor_one.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	<static_object name="floor_two">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/floor_two/floor_two.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="faucet">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/faucet/faucet.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="water">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/water/water.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="floor">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/floor/floor.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="0 0 -0.01" rpy="0 0 0" />
			<geometry>
	            <box size="7 7 0.01"/>
	        </geometry>
	    </collision>
	</static_object>
	
	<static_object name="fridge">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/fridge/fridge.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<dynamic_object name="glass1">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
		<inertial>
        	<origin xyz="0.0515375 -0.195 0.64994" rpy="0 0 0" />
        	<mass value="0.1" />
        	<inertia ixx="2000" iyy="2000" izz="2000" ixy="0" ixz="-0" iyz="-0" />
      	</inertial>
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/glass/glass.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="0.0515375 -0.195 0.64994" rpy="0 0 0" />
			<geometry>
	            <!-- <cylinder radius="0.0317" length="0.12"/> -->
				<box size="0.0634 0.0634 0.12"/>
	        </geometry>
	    </collision>
	</dynamic_object>

	<dynamic_object name="glass2">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
		<inertial>
        	<origin xyz="0.0515375 -0.195 0.64994" rpy="0 0 0" />
        	<mass value="0.1" />
        	<inertia ixx="2000" iyy="2000" izz="2000" ixy="0" ixz="-0" iyz="-0" />
      	</inertial>
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/glass/glass.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="0.0515375 -0.195 0.64994" rpy="0 0 0" />
			<geometry>
	            <!-- <cylinder radius="0.0317" length="0.12"/> -->
				<box size="0.0634 0.0634 0.12"/>
	        </geometry>
	    </collision>
	</dynamic_object>

	<static_object name="mat">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/mat/mat.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="pan">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/pan/pan.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="tray">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/tray/tray.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="sponge">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/sponge/sponge.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="toaster">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/toaster/toaster.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<dynamic_object name="plate1">
		<origin xyz="0 0 -0.21" rpy="0 0 0" />
		<inertial>
        	<origin xyz="0.2664375 -0.32886 0.58994" rpy="0 0 0" />
        	<mass value="0.1" />
        	<inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" />
      	</inertial>
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/plate/plate.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="0.2664375 -0.32886 0.58994" rpy="0 0 0" />
			<geometry>
	            <cylinder radius="0.086" length="0.01368"/>
	        </geometry>
	    </collision>
		<collision>
	        <origin xyz="0.2664375 -0.32886 0.59994" rpy="0 0 0" />
			<geometry>
	            <cylinder radius="0.13" length="0.01368"/>
	        </geometry>
	    </collision>
	</dynamic_object>

	<dynamic_object name="plate2">
		<origin xyz="0 0 -0.21" rpy="0 0 0" />
		<inertial>
        	<origin xyz="0.2664375 -0.32886 0.58994" rpy="0 0 0" />
        	<mass value="0.1" />
        	<inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" />
      	</inertial>
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/plate/plate.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
		<collision>
	        <origin xyz="0.2664375 -0.32886 0.58994" rpy="0 0 0" />
			<geometry>
	            <cylinder radius="0.086" length="0.01368"/>
	        </geometry>
	    </collision>
		<collision>
	        <origin xyz="0.2664375 -0.32886 0.59994" rpy="0 0 0" />
			<geometry>
	            <cylinder radius="0.13" length="0.01368"/>
	        </geometry>
	    </collision>
	</dynamic_object>
	
	<static_object name="pot">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/pot/pot.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="sink">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/sink/sink.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="small_frame">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/small_frame/small_frame.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="stool1">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool1/stool1.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="stool2">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool2/stool2.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="stool3">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool3/stool3.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="stool4">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool4/stool4.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="table">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/table/table.obj" scale="20 20 20"/>
			</geometry>
	    </visual>
		<collision>
			<origin xyz="-0.22 -0.001 0.574" rpy="0 0 0" />
			<geometry>
				<box size="1.52 1.01333 0.03" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.4656 0.4293 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="0.0572533 0.0552266666 0.57253333" />
			</geometry>
		</collision>
	</static_object>

	<static_object name="table_collision1">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
		<collision>
			<origin xyz="0.4656 -0.4362 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="0.0572533 0.0552266666 0.57253333" />
			</geometry>
		</collision>
		<collision>
			<origin xyz="-0.90665 -0.4362 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="0.0572533 0.0552266666 0.57253333" />
			</geometry>
		</collision>
	</static_object>

	<static_object name="table_collision2">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
		<collision>
			<origin xyz="-0.90665 0.4293 0.2715" rpy="0 0 0" />
			<geometry>
				<box size="0.0572533 0.0552266666 0.57253333" />
			</geometry>
		</collision>
	</static_object>
	
	<static_object name="trash">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/trash/trash.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="vent">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/vent/vent.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
	
	<static_object name="walls">
		<origin xyz="0 0 -0.31" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/walls/walls.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>
</world>
