<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="robusser">
		<model dir="./resources" path="robusser_robot.urdf" name="robusser" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="-2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="2.0 -0.8 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.5" />
	</camera>

	<static_object name="bowl">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/bowl_0515/bowl_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="cabinets">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/cabinets_0515/cabinets_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="charger">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/charger_0515/charger_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="dishwasher">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/dishwasher_0515/dishwasher_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="drying_mat">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/drying_mat_0515/drying_mat_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="floor">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/floor_0515/floor_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="glass">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/glass_0515/glass_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="plate">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/plate_0515/plate_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="refrigerator">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/refrigerator_0515/refrigerator_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="sink">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/sink_0515/sink_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="stool1">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool1_0515/stool1_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="stool2">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool2_0515/stool2_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="stool3">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool3_0515/stool3_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="stool4">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/stool4_0515/stool4_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="table">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/table_0515/table_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="trash">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/trash_0515/trash_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

	<static_object name="walls">
		<origin xyz="0 0 0" rpy="0 0 0" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../robusser/components/walls_0515/walls_0515.obj" scale="20 20 20"/>
	        </geometry>
	    </visual>
	</static_object>

</world>
